/* CARROUSEL */


.carousel-inner {
    height: 300px;
}

.carousel-item{
    height: 300px;
    margin:20px 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#imagenBanner1{
    background-image: url(../images/cookies_V3.jpeg);
}

#imagenBanner2{
    background-image: url(../images/cookies_V2.jpeg);
 }

#imagenBanner3{
    background-image: url(../images/cupcakeV2.jpeg);
}

#imagenBanner4{
    background-image: url(../images/tortaBanner.jpeg);
}


/* PRODUCTOS DESTACADOS */

@keyframes destacar{

    0%{color: rgb(247, 159, 203); }
    50%{transform: scale(1.2);
        color:#CF2F87}
    100%{transform: scale(1);;
        color: rgb(247, 159, 203) }    
}

.productosDestacados{
   
    width:100%;
    margin:20px 0px;
    height: 1050px;
    /*Hago flex el contenedor del título para que con la animación no se exceda el ancho total de la pantalla*/
    &Title{
        width: 100%;
        display: flex;
        justify-content: center;
        h2{
            animation-name: destacar;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in;
            animation-duration: 3s;
            animation-delay: 1s;
        }
    }

    &Cards{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 2%;
        row-gap: 2%;
        justify-items: center;
        align-items:center;
    
        grid-template-areas: 
        "card1 card2 card3"
        "card4 card5 card6"
        
    }

    &__card{
    
        display:flex;
        flex-direction: column;
        margin: 20px 50px;
        padding: 20px 20px;
        background-color: #FDE2E2;
        background: radial-gradient(circle, rgba(246,222,244,1) 21%, rgba(251,195,195,0.7530199579831933) 50%, rgba(246,222,244,1) 81%);
        width: 300px;
        height: 400px;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        border: 3px solid #a0966e;
        border-radius: 3%;
        transition: all 1s;
        &:hover{
            transform: scale(1.1);
        }
        &__foto{
            height: 350px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            overflow: hidden;        
        }
    }
}

/* Ubicacion y fondo de las Product Card */

/*Product Card en index.html*/

.productosDestacados__card__cookies{
    @include card(card1,"../images/galletaCraquelada.jpg");
}

.productosDestacados__card__cupCake{
    @include card(card2,"../images/cupCake_s_bordes.png");
}

.productosDestacados__card__cakePop{
    @include card(card3,"../images/cakePop.jpg");
}

.productosDestacados__card__bombonesChocolate{
    @include card(card4,"../images/bombonesChocolate.jpg");
}

.productosDestacados__card__tortaNumero{
    @include card(card5,"../images/torta23.jpg");
}

.productosDestacados__card__giftCard{
    @include card(card6,"../images/giftCard.png");
}

/*Product Card en tortasDecoradas.html*/

.productosDestacados__card__circo{
    @include card(card1,"../images/tortaCirco.jpg");
}

.productosDestacados__card__naturaleza{
    @include card(card2,"../images/tortaFlores.jpg");
}

.productosDestacados__card__bautismoY1{
    @include card(card3,"../images/tortaBautismo.jpg");
}

.productosDestacados__card__bodas{
    @include card(card4,"../images/tortaBoda.jpg");
}

.productosDestacados__card__quince{
    @include card(card5,"../images/torta15.jpg");
}


/*Product Card en pasteleriaTradicional.html*/

.productosDestacados__card__tartaFrutillas{
    @include card(card1,"../images/tortaFrutilla.jpg");
}

.productosDestacados__card__tartaChocolate{
    @include card(card2,"../images/tortaChocolate.jpg");
}

.productosDestacados__card__tartaDurazno{
    @include card(card3,"../images/tortaDurazno.jpg");
}

.productosDestacados__card__galletasDecoradas{
    @include card(card4,"../images/galletaBicicletaH300.jpg");
}

.productosDestacados__card__galletasCraqueladas{
    @include card(card5,"../images/galletaCraquelada.jpg");
}

.productosDestacados__card__galletasPastillaje{
    @include card(card6,"../images/galletaFlores.jpg");
}


/*Product Card en rinconSalado.html*/


.productosDestacados__card__fosforitos{
    @include card(card1,"../images/fosforitos.jpg");
}

.productosDestacados__card__brusquetas{
    @include card(card2,"../images/brusquetas.jpg");
}

.productosDestacados__card__canapes{
    @include card(card3,"../images/canapes.jpg");
}

.productosDestacados__card__empanadasArabes{
    @include card(card4,"../images/lehmeyun.jpg");
}

.productosDestacados__card__pizzetas{
    @include card(card5,"../images/pizzetas.jpg");
}

.productosDestacados__card__empanadas{
    @include card(card6,"../images/empanadasCopetin.jpg");
}


/*FORMULARIOS*/

.formulario{
    width:100%;
    height:auto;
    display: flex;
    padding: 10px 10px;
    &Izquierdo{
        width:40%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        select, input{
            margin: 5px 0;
            padding: 10px 10px;
            border-radius: 5px;
            background-color: $colorFondoGeneral;
        }

    }
  
    &Derecho{
        width:60%;
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        textarea, input{
            margin: 5px 0;
            padding: 10px 10px;
            border-radius: 5px;
            background-color: $colorFondoGeneral;
        }                

    }
   
}

.logoSTacc{
    width: 50px;
    padding: 5px 5px;

}




